*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Nunito' , sans-serif ;
}
.navbar{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
} 
.navbar h5{
    margin-right: 50%;
    margin-top: 5%;
    font-family: 'Nunito' , sans-serif ;
    color: rgb(89, 89, 95);
}


.navbar-link{
    display: flex;
    column-gap: 20px;
    
}
.navbar-link a{
    text-decoration: none;
    color: #001493;
}
.navbar-link a:hover{
    text-decoration: underline;
    color: crimson;
}

.navbar-toggle{
    display: none;
    cursor: pointer;
}
/*Side Navbar*/
.side-navbar{
    background-color: rgb(155, 225, 255);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    transition: 0.6s;
    
}
.side-navbar-link{
    display: flex;
    margin-bottom: 30px;
    margin-top: 10px;
    
}

.side-navbar-link a{
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    top: 40px;
}

.side-navbar-link a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.x-bar{
    text-align: right;
    cursor: pointer;
    
}

/*Header*/

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
   padding: 50px;
}
.header button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container-2 div{
    background-color: aliceblue;

}

.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container img{
    height: 200px;
    width: 170px;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 73%;
    left: 18%;
    border-radius: 10px;
    border: none;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black;
}

.news button{
    margin-top: 10px;
    color: aliceblue;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: aliceblue;
}

.product-section{
    margin top: 20px;

}

.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;

}
.products-box img{
    width: 170px;
    height: 200px;
    border-radius: 7px;
}

.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus{
   outline: none;
}

.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products-box{
    text-align: center;
    flex-basis: 20%;
}


/*Media Querry*/
@media screen and (max-width:600px) {
    .navbar-toggle{
        display: block;
    }
    .navbar-link{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}